.BookCard {
    display: flex;
    margin: 10px;
    height: 270px;
    width: 120px;
}

.bookcard-content {
    border: 2px solid #388087;
    background-color: #c2edc2;
    width: 120px;
    height: 270px;
    transition: transform 0.5s;
    position: relative;
}

.bookcard-content:hover {
    cursor: pointer;
    transform: scale(1.08);
}

.bookcard-image img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
}

.bookcard-title {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
    /* min-height: none;
    max-height: 60px; */
    /* overflow: hidden; */
    /* white-space: nowrap;
    text-overflow: ellipsis; */
}

.bookcard-title p {
    margin: 0px;
}

.bookcard-title p,
.bookcard-author p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.bookcard-author p {
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
}

.bookcard-author {
    text-align: center;
    font-size: 0.9em;
    padding: 0px 5px 5px;
}
