.Developers {
    font-family: "Truculenta", sans-serif;
}

.developers-heading {
    font-size: 2.5rem;
    font-weight: 900;
    color: #388087;
    margin-bottom: 30px;
}

.dev {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dev-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.dev-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
}

.dev-content {
    text-align: center;
}

.dev-links {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.dev-links p a {
    font-size: 1.2rem;
    font-weight: 900;
    color: #388087;
}
